/* ===================================================
-------------------- Mobile First --------------------
=================================================== */

/* ----- GENERAL STYLES ----- */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #eee;
}

.flex {
	display: flex;
}

.outer-wrapper {
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
}

.inner-wrapper {
	/*border: 2px solid red;*/
}

li {
	list-style: none;
}


/* ----- ===== HEADER section ===== ----- */
header {
	background: #7477b4;
	padding: 2em 1em;	
}

h1 {
	margin-right: auto;
	/*align-self: center;*/
}

header ul {
	/*flex: 1;*/
	/*flex-direction: column;*/
	/*height: 100%;*/
}

header li {
	align-self: center;
	/*flex: 0 1 auto;*/
	padding: 0 1em;
	border: 1px solid black;
}

header li:first-child {
	background: green;
	/*flex: 1 0 auto;*/
}/* ----- end HEADER section ----- */


/* ----- ===== NAVIGATION section ===== ----- */
nav {
	background: #4d4c72;
}

.nav {
	flex-direction: column;
	color: #fff;
}

nav li {
	margin: 0 1em;
	padding: 1em 0.5em;
	border: 1px solid pink;
}

/* ----- Navigation Images ----- */
nav li svg {
	/*width: 50%;
	height: 50%;
	border: 1px solid pink;
	margin: 0 auto;*/
}/* ----- end NAVIGATION section ----- */


/* ----- ===== MAIN section ===== ----- */
main {
	flex-direction: column;
	background: #fff;
	/*padding: 0 1em;*/
	
}

main ul li {
	padding: 1.5em 2em 1.5em 1em;
	/*margin: 0 1;*/
	border-right: 2px solid #dfdfdf;
	border-bottom: 1px solid white;
	display: inline-block;
}

.main-section-header {
	justify-content: space-between;
	background: rgb(240, 240, 240);
	/*border-bottom: 1px solid #dfdfdf;*/
}

#search {
	display: inline-block;
	align-self: center;
	margin: 0 1em;
	/*border: 1px solid purple;*/
}

input[type="search"] {
	width: 100%;
}

.pages {
	border-bottom: #fff;
}

.pages,
#search {
	background: #fff;
}

section {
	margin: 1em 1em;
}

/* ----- end MAIN section ----- */


























/* ===================================================
--------------- Tablets (768px and up) ---------------
=================================================== */

































/* ===================================================
--------------- Desktops (1024px and up) -------------
=================================================== */



















	